pyyaml
pydantic
wandb
torch
torch_geometric
pyvista
toughio
matplotlib
icecream
pandas
circle-fit
h5py
trame
trame-client
trame-server
trame-vtk
trame-vuetify
wandb
meshio
networkx
pandas
rustworkx
scikit-learn
scipy
seaborn
tensorboard
torchmetrics
tqdm
scikit-learn